In [94]:
# Checking my working directory
import os
os.getcwd()

'c:\\Users\\User\\PHASE2_GROUP3_PROJECT'

In [95]:
# check on files within the directorate
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 'Data',
 'movies.ipynb',
 'README.md',
 'Untitled-2.ipynb']

In [96]:
import os
print(os.getcwd())

c:\Users\User\PHASE2_GROUP3_PROJECT

In [97]:
# Files in the data folder
print(os.listdir('data'))

['bom.movie_gross.csv', 'rt.movie_info.tsv', 'rt.reviews.tsv', 'tmdb.movies.csv', 'tn.movie_budgets.csv']

In [98]:
import pandas as pd
bom_df = pd.read_csv('data/bom.movie_gross.csv')
rtm_df = pd.read_csv('data/rt.movie_info.tsv', sep='\t')
rtr_df = pd.read_csv('data/rt.reviews.tsv', sep='\t', encoding='latin1')
tmdb_df = pd.read_csv('data/tmdb.movies.csv')
tn_df = pd.read_csv('data/tn.movie_budgets.csv')

In [99]:
bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [100]:
rtm_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [101]:
rtr_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [102]:
tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [103]:
tn_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

# Column types and missing values

In [104]:
bom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [105]:
rtm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [106]:
rtr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [107]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [108]:
tn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

Defining Columns - listing all column names

In [109]:
bom_df.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [110]:
rtm_df.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [111]:
rtr_df.columns

Index(['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher',
       'date'],
      dtype='object')

In [112]:
tmdb_df.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [113]:
tn_df.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

Summary stats for numeric columns

In [114]:
bom_df.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [115]:
rtm_df.describe()

                id
count  1560.000000
mean   1007.303846
std     579.164527
min       1.000000
25%     504.750000
50%    1007.500000
75%    1503.250000
max    2000.000000

In [116]:
rtr_df.describe()

                 id    top_critic
count  54432.000000  54432.000000
mean    1045.706882      0.240594
std      586.657046      0.427448
min        3.000000      0.000000
25%      542.000000      0.000000
50%     1083.000000      0.000000
75%     1541.000000      0.000000
max     2000.000000      1.000000

In [117]:
tmdb_df.describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

In [118]:
tn_df.describe()

                id
count  5782.000000
mean     50.372363
std      28.821076
min       1.000000
25%      25.000000
50%      50.000000
75%      75.000000
max     100.000000

In [119]:
# standardizing columns
bom_df.columns = bom_df.columns.str.strip().str.lower().str.replace(' ', '_')
rtm_df.columns = rtm_df.columns.str.strip().str.lower().str.replace(' ', '_')
rtr_df.columns = rtr_df.columns.str.strip().str.lower().str.replace(' ', '_')
tmdb_df.columns = tmdb_df.columns.str.strip().str.lower().str.replace(' ', '_')
tn_df.columns = tn_df.columns.str.strip().str.lower().str.replace(' ', '_')

# Handling missing values
## Counting missing values

In [120]:
bom_df.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [121]:
rtm_df.isnull().sum()

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [122]:
rtr_df.isnull().sum()

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

# Drop rows missing critical information
bom_df.isnull().sum()

In [123]:
# since our analysis depends heavily on revenue generated
bom_df_cleaned = bom_df.dropna(subset=['domestic_gross', 'foreign_gross'])

In [124]:
# studio data is not that critical, we can replace the missing values
bom_df_cleaned['studio'] = bom_df_cleaned['studio'].fillna('Unknown')

C:\Users\User\AppData\Local\Temp\ipykernel_2504\1369580956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bom_df_cleaned['studio'] = bom_df_cleaned['studio'].fillna('Unknown')

For dataset

In [125]:
# Currency and box_office are very essential in our analysis, we have to drop missing rows
rtm_df_cleaned = rtm_df.dropna(subset=['box_office', 'currency', 'rating', 'director', 'writer', 'runtime'])

# the other metadata are optional, hence can be filled

In [126]:
optional_cols = ['studio']
rtm_df_cleaned[optional_cols] = rtm_df_cleaned[optional_cols].fillna('Unknown')

C:\Users\User\AppData\Local\Temp\ipykernel_2504\3731214530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtm_df_cleaned[optional_cols] = rtm_df_cleaned[optional_cols].fillna('Unknown')

# Convert dates and handle missing ones
Converting dates is useful in trend analysis.

In [127]:
rtm_df_cleaned['theater_date'] = pd.to_datetime(rtm_df_cleaned['theater_date'], errors='coerce')
rtm_df_cleaned['dvd_date'] = pd.to_datetime(rtm_df_cleaned['dvd_date'], errors='coerce')

C:\Users\User\AppData\Local\Temp\ipykernel_2504\1649059310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtm_df_cleaned['theater_date'] = pd.to_datetime(rtm_df_cleaned['theater_date'], errors='coerce')
C:\Users\User\AppData\Local\Temp\ipykernel_2504\1649059310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtm_df_cleaned['dvd_date'] = pd.to_datetime(rtm_df_cleaned['dvd_date'], errors='coerce')

# Dataset

In [128]:
# drop critical missing rows
rtr_df_cleaned = rtr_df.dropna(subset=['rating'])

In [129]:
# non critical
rtr_df_cleaned[['review', 'critic', 'publisher']] = rtr_df_cleaned[['review', 'critic', 'publisher']].fillna('Unknown')

C:\Users\User\AppData\Local\Temp\ipykernel_2504\2018776521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtr_df_cleaned[['review', 'critic', 'publisher']] = rtr_df_cleaned[['review', 'critic', 'publisher']].fillna('Unknown')

In [130]:
# Convert date to datetime
rtr_df_cleaned['date'] = pd.to_datetime(rtr_df_cleaned['date'], errors='coerce')

C:\Users\User\AppData\Local\Temp\ipykernel_2504\4041576152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtr_df_cleaned['date'] = pd.to_datetime(rtr_df_cleaned['date'], errors='coerce')

In [131]:
# Extract year or month for trend analysis
rtr_df_cleaned['year'] = rtr_df_cleaned['date'].dt.year

C:\Users\User\AppData\Local\Temp\ipykernel_2504\4265553896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rtr_df_cleaned['year'] = rtr_df_cleaned['date'].dt.year

In [ ]:
# Remove duplicates
df.drop_duplicates(subset=['title', 'release_year'], inplace=True)

In [135]:
# clean text columns
bom_df['title'] = bom_df['title'].str.strip().str.lower()
rtm_df['genre'] = rtm_df['genre'].str.strip().str.lower()
tmdb_df['title'] = tmdb_df['title'].str.strip().str.lower()

In [137]:
# convert data types
rtm_df['runtime'] = pd.to_numeric(rtm_df['runtime'], errors='coerce')
tmdb_df['release_date'] = pd.to_numeric(tmdb_df['release_date'], errors='coerce')

# Save cleaned data

In [144]:
bom_df.to_csv('cleaned_bom.movie_gross.csv')
rtm_df.to_csv('cleaned_rt.movie_info.tsv', sep='\t')
rtr_df.to_csv('cleaned_rt.reviews.tsv', sep='\t', encoding='latin1')
tmdb_df.to_csv('cleaned_tmdb.movies.csv')
tn_df .to_csv('cleaned_tn.movie_budgets.csv')

# Merge the cleaned datasets
start by importing the cleaned datasets

In [143]:
import pandas as pd
bom_df = pd.read_csv('cleaned_bom.movie_gross.csv')
rtm_df = pd.read_csv('cleaned_rt.movie_info.tsv', sep='\t')
rtr_df = pd.read_csv('cleaned_rt.reviews.tsv', sep='\t', encoding='latin1')
tmdb_df = pd.read_csv('cleaned_tmdb.movies.csv')
tn_df  = pd.read_csv('cleaned_tn.movie_budgets.csv')

# Choose a Common Merge Key
From the datasets, the most common ones are; title and release_date. Normalize them across all datasets:

In [151]:
for df in [bom_df, rtm_df, rtr_df, tmdb_df, tn_df]:
    if 'title' in df.columns:
        df['title'] = df['title'].str.strip().str.lower()
    if 'release date' in df.columns:
        df['release date'] = pd.to_numeric(df['release date'], errors='coerce')

# Log missing columns
This helps keep track of which DataFrames are missing expected columns

In [155]:
for name, df in zip(['bom_df', 'rtm_df', 'rtr_df', 'tmdb_df', 'tn_df'], [bom_df, rtm_df, rtr_df, tmdb_df, tn_df]):
    if 'title' in df.columns:
        df['title'] = df['title'].str.strip().str.lower()
    else:
        print(f" 'title' column missing in {name}")
    if 'release date' in df.columns:
        df['release date'] = pd.to_numeric(df['release date'], errors='coerce')
    else:
        print(f" 'release date' column missing in {name}")

 'release date' column missing in bom_df
 'title' column missing in rtm_df
 'release date' column missing in rtm_df
 'title' column missing in rtr_df
 'release date' column missing in rtr_df
 'release date' column missing in tmdb_df
 'title' column missing in tn_df
 'release date' column missing in tn_df

In [ ]:
# summary of each DataFrames columns
for name, df in zip(['bom_df', 'rtm_df', 'rtr_df', 'tn_df', 'tmdb_df'], [bom_df, rtm_df, rtr_df, tn_df, tmdb_df]):
    print(f"{name}: {df.columns.tolist()}")

bom_df: ['title', 'studio', 'domestic_gross', 'foreign_gross', 'year']
rtm_df: ['Unnamed: 0', 'id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']
rtr_df: ['Unnamed: 0', 'id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date']
tn_df: ['Unnamed: 0', 'id', 'release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']
tmdb_df: ['Unnamed: 0', 'unnamed:_0', 'genre_ids', 'id', 'original_language', 'original_title', 'popularity', 'release_date', 'title', 'vote_average', 'vote_count']

In [158]:
# normalize titles, dates, and IDs across datasets
df['title'] = df['title'].str.strip().str.lower()

In [164]:
# merge dataset (decide on a primary keylikely 'title' and 'release date')
merged_df = pd.merge(bom_df, tmdb_df, on='title', how='inner')

# Exploratory Data Analysis (EDA)
Look at distributions, missing values, and outliers:

In [160]:
merged_df.describe()
merged_df.isnull().sum()

title                   0
studio                  1
domestic_gross         21
foreign_gross        1013
year                    0
Unnamed: 0              0
unnamed:_0              0
genre_ids               0
id                      0
original_language       0
original_title          0
popularity              0
release_date         2790
vote_average            0
vote_count              0
dtype: int64

# Cleaning and preparing the movie dataset

In [220]:
def clean_movie_data(df, title_col='title', year_col='release year'):
    if title_col not in df.columns or year_col not in df.columns:
        print(f"Missing expected columns: {title_col}, {year_col}")
        return df
    print("Cleaning started...")

In [221]:
# Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [222]:
# Rename title/date columns if needed
title_col = 'movie_title'
year_col = 'year_date'

if title_col != 'title':
        df.rename(columns={title_col: 'title'}, inplace=True)
if year_col != 'year_date':
        df.rename(columns={date_col: 'year_date'}, inplace=True)

In [223]:
# Clean text columns
def clean_movie_data(df):
    df["title"] = df["title"].astype(str).str.strip().str.lower()
    df["release_date"] = pd.to_numeric(df["release_date"], errors='coerce')
    return df

In [224]:
# Create merge key
def clean_movie_data(df):
    df["title"] = df["title"].astype(str).str.strip().str.lower()
    df["release_date"] = pd.to_numeric(df["release_date"], errors='coerce')
    df["merge_key"] = df["title"] + "_" + df["release_date"].astype(str)
    return df

In [225]:
# Drop unnecessary columns
def clean_movie_data(df, drop_cols=None):
    if drop_cols:
        df.drop(columns=drop_cols, inplace=True, errors='ignore')
    return df

In [226]:
# Handle missing values
def clean_movie_data(df, drop_cols=None):
    df.dropna(subset=['title', 'release_date'], inplace=True)
    df.fillna({'studio': 'unknown', 'domestic_gross': 0, 'foreign_gross': 0}, inplace=True)

In [272]:
def clean_movie_data(df, title_col='title', year_col='release_year'):
    if title_col not in df.columns or year_col not in df.columns:
        print(f"Missing expected columns: {title_col}, {year_col}")
        return df
    # Continue cleaning...
    if title_col not in df.columns or year_col not in df.columns:
        print(f"Missing expected columns: {title_col}, {year_col}")
        return df  #  this should return the original DataFrame, not None
    
def clean_movie_data(df, title_col='title', year_col='year'):
    # Check if expected columns exist
    if title_col not in df.columns or year_col not in df.columns:
        print(f"Missing expected columns: {title_col}, {year_col}")
        return df  #  This ensures it returns the original DataFrame, not None

def clean_movie_data(df, title_col='title', year_col='year'):
    print("Function entered")
    if title_col not in df.columns or year_col not in df.columns:
        print(f"Missing expected columns: {title_col}, {year_col}")
        return df

    print("Cleaning started...")
    df[title_col] = df[title_col].astype(str).str.strip().str.lower()
    df[year_col] = pd.to_numeric(df[year_col], errors='coerce')
    df['merge_key'] = df[title_col] + '_' + df[year_col].astype(str)

    print("Cleaning complete")
    return df

In [274]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')

Function entered
Cleaning started...
Cleaning complete

In [276]:
print(bom_df.columns.tolist())

['title', 'studio', 'domestic_gross', 'foreign_gross', 'year', 'merge_key']

In [277]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')

Function entered
Cleaning started...
Cleaning complete

In [280]:
print(type(cleaned_rt))

<class 'pandas.core.frame.DataFrame'>

In [279]:
 Clean title column
    df[title_col] = df[title_col].astype(str).str.strip().str.lower()

    # Clean year column
    df[year_col] = pd.to_numeric(df[year_col], errors='coerce')

SyntaxError: invalid syntax (3886584793.py, line 1)

In [251]:
print(bom_df.columns.tolist())

['title', 'studio', 'domestic_gross', 'foreign_gross', 'year']

In [252]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')  # adjust as needed

In [258]:
master_df = cleaned_bom.merge(cleaned_rt, on='merge_key', how='inner')

AttributeError: 'NoneType' object has no attribute 'merge'

In [253]:
# applying the cleaning function
bom_df = pd.read_csv('data/bom.movie_gross.csv')
rtm_df = pd.read_csv('data/rt.movie_info.tsv', sep='\t')
rtr_df = pd.read_csv('data/rt.reviews.tsv', sep='\t', encoding='latin1')

cleaned_bom = clean_movie_data(bom_df)
cleaned_rtm = clean_movie_data(rtm_df)
cleaned_rtr = clean_movie_data(rtr_df)

Missing expected columns: title, release_year
Missing expected columns: title, release_year
Missing expected columns: title, release_year

In [254]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')
cleaned_rtm = clean_movie_data(rtm_df, title_col='movie', year_col='year')
cleaned_rtr = clean_movie_data(rtr_df, title_col='movie', year_col='release_year')

Missing expected columns: movie, year
Missing expected columns: movie, release_year

In [255]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')  # if those exist
cleaned_rtm = clean_movie_data(rtm_df, title_col='name', year_col='release_date')  # adjust as needed
cleaned_rtr = clean_movie_data(rtr_df, title_col='movie_title', year_col='release_year')  # adjust as needed

Missing expected columns: name, release_date
Missing expected columns: movie_title, release_year

In [232]:
cleaned_rt = clean_movie_data(rtm_df, title_col='actual_title_column', year_col='actual_year_column')

Missing expected columns: actual_title_column, actual_year_column

In [233]:
cleaned_rt = clean_movie_data(rtr_df, title_col='movie_title', year_col='release_year')

Missing expected columns: movie_title, release_year

In [237]:
print(rtr_df.columns.tolist())

['id', 'review', 'rating', 'fresh', 'critic', 'top_critic', 'publisher', 'date']

In [238]:
cleaned_rt = clean_movie_data(rtr_df, title_col='title', year_col='release_date')

Missing expected columns: title, release_date

In [239]:
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year

In [240]:
# combining rtr and rtm
rt_combined = rtr_df.merge(rtm_df, on='id', how='left')

In [241]:
print(rt_combined.columns.tolist())

['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic', 'publisher', 'date', 'synopsis', 'rating_y', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']

In [286]:
cleaned_rt = clean_movie_data(rt_combined, title_col='movie', year_col='year')  # adjust based on actual column names
cleaned_rt = clean_movie_data(rt_combined, title_col='movie', year_col='year')  # adjust based on actual column names

Function entered
Missing expected columns: movie, year
Function entered
Missing expected columns: movie, year

In [288]:
print(rt_combined.columns.tolist())

['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic', 'publisher', 'date', 'synopsis', 'rating_y', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']

In [289]:
rt_full = rt_combined.merge(rtm_df, on='id', how='left')

In [290]:
print(rt_full.columns.tolist())

['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic', 'publisher', 'date', 'synopsis_x', 'rating_y', 'genre_x', 'director_x', 'writer_x', 'theater_date_x', 'dvd_date_x', 'currency_x', 'box_office_x', 'runtime_x', 'studio_x', 'synopsis_y', 'rating', 'genre_y', 'director_y', 'writer_y', 'theater_date_y', 'dvd_date_y', 'currency_y', 'box_office_y', 'runtime_y', 'studio_y']

In [291]:
cleaned_rt = clean_movie_data(rt_full, title_col='synopsis_x', year_col='year')  # adjust title_col if needed

Function entered
Missing expected columns: synopsis_x, year

In [293]:
print(rt_full.columns.tolist())

['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic', 'publisher', 'date', 'synopsis_x', 'rating_y', 'genre_x', 'director_x', 'writer_x', 'theater_date_x', 'dvd_date_x', 'currency_x', 'box_office_x', 'runtime_x', 'studio_x', 'synopsis_y', 'rating', 'genre_y', 'director_y', 'writer_y', 'theater_date_y', 'dvd_date_y', 'currency_y', 'box_office_y', 'runtime_y', 'studio_y']

In [299]:
rt_full['year'] = pd.to_datetime(rt_full['date'], errors='coerce').dt.year

In [300]:
rt_full = rt_combined.merge(rtm_df, on='id', how='left')

In [302]:
print(rt_full.columns.tolist())

['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic', 'publisher', 'date', 'synopsis_x', 'rating_y', 'genre_x', 'director_x', 'writer_x', 'theater_date_x', 'dvd_date_x', 'currency_x', 'box_office_x', 'runtime_x', 'studio_x', 'synopsis_y', 'rating', 'genre_y', 'director_y', 'writer_y', 'theater_date_y', 'dvd_date_y', 'currency_y', 'box_office_y', 'runtime_y', 'studio_y']

In [303]:
rt_full['synopsis_y']  #  This is probably the movie title or description

0        New York City, not-too-distant-future: Eric Pa...
1        New York City, not-too-distant-future: Eric Pa...
2        New York City, not-too-distant-future: Eric Pa...
3        New York City, not-too-distant-future: Eric Pa...
4        New York City, not-too-distant-future: Eric Pa...
                               ...
54427    Suspended from the force, Paris cop Hubert is ...
54428    Suspended from the force, Paris cop Hubert is ...
54429    Suspended from the force, Paris cop Hubert is ...
54430    Suspended from the force, Paris cop Hubert is ...
54431    Suspended from the force, Paris cop Hubert is ...
Name: synopsis_y, Length: 54432, dtype: object

In [305]:
print(rt_full[['studio_y']].dropna().head(10))

            studio_y
0  Entertainment One
1  Entertainment One
2  Entertainment One
3  Entertainment One
4  Entertainment One
5  Entertainment One
6  Entertainment One
7  Entertainment One
8  Entertainment One
9  Entertainment One

In [304]:
print(rt_full[['synopsis_y']].dropna().head(10))

                                          synopsis_y
0  New York City, not-too-distant-future: Eric Pa...
1  New York City, not-too-distant-future: Eric Pa...
2  New York City, not-too-distant-future: Eric Pa...
3  New York City, not-too-distant-future: Eric Pa...
4  New York City, not-too-distant-future: Eric Pa...
5  New York City, not-too-distant-future: Eric Pa...
6  New York City, not-too-distant-future: Eric Pa...
7  New York City, not-too-distant-future: Eric Pa...
8  New York City, not-too-distant-future: Eric Pa...
9  New York City, not-too-distant-future: Eric Pa...

In [306]:
rt_full['year'] = pd.to_datetime(rt_full['date'], errors='coerce').dt.year

In [307]:
cleaned_rt = clean_movie_data(rt_full, title_col='synopsis_y', year_col='year')
print('merge_key' in cleaned_rt.columns)

Function entered
Cleaning started...
Cleaning complete
True

In [308]:
cleaned_bom = clean_movie_data(bom_df, title_col='title', year_col='year')
print('merge_key' in cleaned_bom.columns)

Function entered
Cleaning started...
Cleaning complete
True

In [287]:
print(type(cleaned_rt))

<class 'pandas.core.frame.DataFrame'>

In [309]:
master_df = cleaned_bom.merge(cleaned_rt, on='merge_key', how='inner')
print(master_df.shape)
master_df.head()

(0, 37)

Empty DataFrame
Columns: [title, studio, domestic_gross, foreign_gross, year_x, merge_key, id, review, rating_x, fresh, critic, top_critic, publisher, date, synopsis_x, rating_y, genre_x, director_x, writer_x, theater_date_x, dvd_date_x, currency_x, box_office_x, runtime_x, studio_x, synopsis_y, rating, genre_y, director_y, writer_y, theater_date_y, dvd_date_y, currency_y, box_office_y, runtime_y, studio_y, year_y]
Index: []

[0 rows x 37 columns]

In [310]:
print(cleaned_bom['merge_key'].dropna().head(10))
print(cleaned_rt['merge_key'].dropna().head(10))

0                                    toy story 3_2010
1                     alice in wonderland (2010)_2010
2    harry potter and the deathly hallows part 1_2010
3                                      inception_2010
4                            shrek forever after_2010
5                     the twilight saga: eclipse_2010
6                                     iron man 2_2010
7                                        tangled_2010
8                                  despicable me_2010
9                       how to train your dragon_2010
Name: merge_key, dtype: object
0    new york city, not-too-distant-future: eric pa...
1    new york city, not-too-distant-future: eric pa...
2    new york city, not-too-distant-future: eric pa...
3    new york city, not-too-distant-future: eric pa...
4    new york city, not-too-distant-future: eric pa...
5    new york city, not-too-distant-future: eric pa...
6    new york city, not-too-distant-future: eric pa...
7    new york city, not-too-distant-future: eric pa...
8    new york city, not-too-distant-future: eric pa...
9    new york city, not-too-distant-future: eric pa...
Name: merge_key, dtype: object

In [311]:
print(cleaned_bom['title'].dropna().head(10))
print(cleaned_rt['synopsis_y'].dropna().head(10))  # or whatever column you used as title_col

0                                    toy story 3
1                     alice in wonderland (2010)
2    harry potter and the deathly hallows part 1
3                                      inception
4                            shrek forever after
5                     the twilight saga: eclipse
6                                     iron man 2
7                                        tangled
8                                  despicable me
9                       how to train your dragon
Name: title, dtype: object
0    new york city, not-too-distant-future: eric pa...
1    new york city, not-too-distant-future: eric pa...
2    new york city, not-too-distant-future: eric pa...
3    new york city, not-too-distant-future: eric pa...
4    new york city, not-too-distant-future: eric pa...
5    new york city, not-too-distant-future: eric pa...
6    new york city, not-too-distant-future: eric pa...
7    new york city, not-too-distant-future: eric pa...
8    new york city, not-too-distant-future: eric pa...
9    new york city, not-too-distant-future: eric pa...
Name: synopsis_y, dtype: object

In [312]:
print(rtm_df.columns.tolist())

['id', 'synopsis', 'rating', 'genre', 'director', 'writer', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime', 'studio']

In [313]:
rt_full = rt_combined.merge(rtm_df, on='id', how='left')

In [322]:
rt_full['year'] = pd.to_datetime(rt_full['theater_date_y'], errors='coerce').dt.year

In [ ]:
# extracting year from theater
cleaned_rt = clean_movie_data(rt_full, title_col='synopsis_y', year_col='year')  # or use 'studio_y' if 'synopsis_y' isn't a title

Function entered
Cleaning started...
Cleaning complete

In [325]:
master_df = cleaned_bom.merge(cleaned_rt, on='merge_key', how='inner')
print(master_df.shape)

(0, 37)

In [327]:
# checking on the formats
print("cleaned_bom keys:")
print(cleaned_bom['merge_key'].dropna().str.lower().str.strip().unique()[:10])

print("\ncleaned_rt keys:")
print(cleaned_rt['merge_key'].dropna().str.lower().str.strip().unique()[:10])

cleaned_bom keys:
['toy story 3_2010' 'alice in wonderland (2010)_2010'
 'harry potter and the deathly hallows part 1_2010' 'inception_2010'
 'shrek forever after_2010' 'the twilight saga: eclipse_2010'
 'iron man 2_2010' 'tangled_2010' 'despicable me_2010'
 'how to train your dragon_2010']

cleaned_rt keys:
["new york city, not-too-distant-future: eric packer, a 28 year-old finance golden boy dreaming of living in a civilization ahead of this one, watches a dark shadow cast over the firmament of the wall street galaxy, of which he is the uncontested king. as he is chauffeured across midtown manhattan to get a haircut at his father's old barber, his anxious eyes are glued to the yuan's exchange rate: it is mounting against all expectations, destroying eric's bet against it. eric packer is losing his empire with every tick of the clock. meanwhile, an eruption of wild activity unfolds in the city's streets. petrified as the threats of the real world infringe upon his cloud of virtual convictions, his paranoia intensifies during the course of his 24-hour cross-town odyssey. packer starts to piece together clues that lead him to a most terrifying secret: his imminent assassination. -- (c) official site_2012.0"
 'illeana douglas delivers a superb performance as denise waverly, a fictional singer and songwriter whose life bears more than a passing resemblance to that of real-life pop star carole king. edna buxton, the daughter of a philadelphia steel tycoon, aspires to a career as a singer, and when against her mother\'s bidding she sings a sultry version of "hey there (you with the stars in your eyes)" (instead of mom\'s choice, "you\'ll never walk alone") at a talent contest, she wins a recording contact and moves to new york city. she cuts a record and gains a new stage name, denise waverly; however, she soon finds that girl singers are a dime a dozen in the big apple and her career as a vocalist goes nowhere. but she has a knack for writing songs, and eccentric producer joel milner (john turturro) asks her to pen some songs for his upcoming projects. teamed with howard caszatt (eric stoltz), a hipster songwriter who wants to express his political and social ideals through pop tunes, she finds both a successful collaborator and husband. while her work with howard gains denise writing credits on a string of hit records and respect within the industry, their marriage falls apart, and she becomes involved with jay phillips (matt dillon), the gifted but unstable leader of a popular west coast surf music combo. students of pop music history will have a ball with the various characters modeled after real-life rock legends, and the 1960s-style song score includes numbers written by joni mitchell and j. mascis (of the band dinosaur jr.), as well as one-time king collaborator gerry goffin; a collaboration between elvis costello and burt bacharach, "god give me strength," led to a full album written by the two great tunesmiths._1996.0'
 "michael douglas runs afoul of a treacherous supervisor in this film version of michael crichton's novel. douglas plays tom sanders, an executive at digicom, a leading computer software firm. digicom is about to launch a new virtual reality-based data storage system that is expected to revolutionize the industry, and bob garvin (donald sutherland), the owner of the company, is in the midst of negotiating a merger that could bring_1994.0"
 'the year is 1942. as the allies unite overseas to keep the world safe for democracy, there are voices at home that are barely heard. one of them belongs to willie morris, a shy and gawky eight-year-old whose childhood is even more quiet and isolated than his home town of yazoo, mississippi. an only child, ignored at school and uncomfortable with girls, willie looks up to and confides in next-door neighbor dink jenkins, the town\'s star athlete, who\'s preparing to ship out in the service of uncle sam. willie\'s father, jack morris, a stern but good-hearted veteran who lost his leg in the spanish civil war, is chiefly responsible for willie\'s overprotective upbringing. pushing in the other direction is his mother, ellen morris, a capable woman who knows that what willie needs most is some freedom and a friend. willie\'s ninth birthday gives her an opportunity to offer him both, in the form of a jack russell terrier puppy that the delighted willie names skip. skip\'s outgoing personality helps willie to build a friendship with rivers applewhite, the prettiest girl in school. skip then further serves as matchmaker for willie and rivers at the movie theater, and lends a paw after willie is challenged by big boy wilkinson, henjie henick and spit mcgee to prove his worth in a football game. with skip\'s canine help, willie starts becoming "one of the boys." then unexpectedly, dink returns to yazoo. but the dark truth soon emerges: dink, when confronted by the realities of war, went awol. in trying to reconcile his hero worship of the dink he once knew with his disappointment in the disgraced soldier, willie begins to contend with the complexities of war and human conduct. he reaches a new perspective on these matters through his father\'s eyes and his own. dink fails to show up at willie\'s first baseball game, and the disappointed willie takes it out on skip, who runs away. the dog\'s disappearance and subsequent recovery teach willie the strength of forgiveness, and give dink a chance to embrace the power of redemption. ultimately, it is a dog\'s love that teaches willie morris lifelong lessons of the human spirit._2000.0'
 "some cast and crew from nbc's highly acclaimed, little-seen series freaks and geeks reunite for this teen comedy that also marks the first starring role for tom hanks' son, colin. the younger hanks plays shaun brumder, a high schooler eager to propel himself out of the land of surf bums and ranch homes to which the film's title refers. he's had his sights set on stanford ever since he read the works of professor marcus skinner (kevin kline), and his transcript is stellar enough to gain him admission. shaun is understandably furious, then, when he receives a rejection letter in the mail; after some detective work on his part, he realizes that his flaky counselor (lily tomlin) mistakenly sent the university the wrong papers. it's up to him to get to stanford within 24 hours to set the record straight -- literally -- and he enlists the help of his slacker brother lance (jack black) to do so. orange county co-stars catharine o'hara and john lithgow as shaun and lance's slightly unhinged parents; the film was directed by jake kasdan and written by mike white, both of whom contributed to several episodes of freaks and geeks._2002.0"
 "stewart kane, an irishman living in the australian town of jindabyne, is on a fishing trip in isolated hill country with three other men when they discover the body of a murdered girl in the river. rather than return to the town immediately, they continue fishing and report their gruesome find days later. stewart's wife claire is the last to find out. deeply disturbed by her husband's actions, her faith in her relationship with stewart is shaken to the core. she wants to understand and tries to make things right. in her determination to help the victim's family claire sets herself not only against her own family and friends but also those of the dead girl. her marriage is taken to the brink and her peaceful life with stewart and their young son hangs in the balance._2006.0"
 '"love ranch" is a bittersweet love story that turns explosive when the players in a romantic triangle lose control and cross the line. set in the late-1970s, the film depicts larger than life personalities living on the edge, grace bontempo and charlie bontempo, the husband and wife team who own and run nevada\'s first legalized brothel. their lives are suddenly altered when armando bruza, a husky, world famous heavy weight boxer from south america is brought to the ranch to train as part of charlie\'s ever-expanding entrepreneurial empire. plans quickly go awry when bruza comes between grace and charlie as an unforeseen love triangle develops that erupts into uncontrollable passion and murder._2010.0'
 'when a diamond expedition in the congo is lost, a scientist is sent in to find out what happened. tagging along is an primatologist taking a trained gorilla back to the wild and a romanian treasure hunter. jungle adventure flick is fun but never realistic._1995.0'
 'nan_nan'
 'while microsoft may be the biggest software company in the world, not every computer user is a fan of their products, or their way of doing business. while microsoft\'s windows became the most widely used operating system for personal computers in the world, many experts took issue with microsoft\'s strict policies regarding licensing, ownership, distribution, and alteration of their software. the objections of many high-profile technology experts, most notably richard stallman, led to what has become known as "the open source movement," which is centered on the belief that computer software should be free both in the economic and intellectual senses of the word. eventually, one of stallman\'s admirers, linus torvalds, created a new operating system called linux, a freely distributed software which many programmers consider to be markedly superior to windows. revolution os is a documentary that examines the genesis of the open source movement, and explores and explains the technical and intellectual issues involved in a manner understandable to computer aficionados and non-techheads alike._2002.0']

Your cleaned_rt merge keys are built from plot summaries, not movie titles. Thats why none of them match the cleaned_bom keys like "toy story 3_2010" or "inception_2010".

In [328]:
# Use a Real Title Column
rtm_df['studio']  #  not ideal, but it's the closest i've got

0                     NaN
1       Entertainment One
2                     NaN
3                     NaN
4                     NaN
              ...
1555      New Line Cinema
1556    Paramount Vantage
1557                  NaN
1558                  NaN
1559    Columbia Pictures
Name: studio, Length: 1560, dtype: object

In [329]:
rt_full = rt_combined.merge(rtm_df, on='id', how='left')
rt_full['year'] = pd.to_datetime(rt_full['theater_date_y'], errors='coerce').dt.year

In [330]:
cleaned_rt = clean_movie_data(rt_full, title_col='studio_y', year_col='year')

Function entered
Cleaning started...
Cleaning complete

In [331]:
print(rtm_df[['studio', 'synopsis']].dropna().head(10))

                        studio  \
1            Entertainment One
5        Warner Bros. Pictures
6           Paramount Pictures
7       Sony Pictures Classics
11  Showtime Documentary Films
12       Seventh Art Releasing
15                ATO Pictures
16               Sony Pictures
18          Universal Pictures
19                         MGM

                                             synopsis
1   New York City, not-too-distant-future: Eric Pa...
5   The year is 1942. As the Allies unite overseas...
6   Some cast and crew from NBC's highly acclaimed...
7   Stewart Kane, an Irishman living in the Austra...
11  In 1979, Bill Viola and Frank Caliguri dreamed...
12  While Microsoft may be the biggest software co...
15  Two-time Academy Award Winner Kevin Spacey giv...
16  A fictional film set in the alluring world of ...
18  From ancient Japan's most enduring tale, the e...
19  A comic series of short vignettes build on one...

 'studio' and 'synopsis' in rtm_df are not usable as movie titles. 'studio' gives you production companies like Warner Bros. or Sony Pictures, and 'synopsis' gives you long plot summaries. Neither matches the 'title' column in bom_df, which contains clean movie names like "Toy Story 3" or "Inception".

In [ ]:
# using studio as a proxy

In [332]:
cleaned_rt = clean_movie_data(rt_full, title_col='studio_y', year_col='year')

Function entered
Cleaning started...
Cleaning complete

In [333]:
master_df = cleaned_bom.merge(cleaned_rt, on='merge_key', how='inner')
print(master_df.shape)

(0, 37)

# Let us try a different column

In [339]:
print(rtm_df.columns)
rtm_df.head(3)

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN

In [340]:
print(rt_combined.columns)
rt_combined.head(3)

Index(['id', 'review', 'rating_x', 'fresh', 'critic', 'top_critic',
       'publisher', 'date', 'synopsis', 'rating_y', 'genre', 'director',
       'writer', 'theater_date', 'dvd_date', 'currency', 'box_office',
       'runtime', 'studio'],
      dtype='object')

,id,review,rating_x,fresh,critic,top_critic,publisher,date,synopsis,rating_y,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One

In [341]:
print(rt_combined['review'].dropna().head(10))

0    A distinctly gallows take on contemporary fina...
1    It's an allegory in search of a meaning that n...
2    ... life lived in a bubble in financial dealin...
3    Continuing along a line introduced in last yea...
4               ... a perverse twist on neorealism...
5    ... Cronenberg's Cosmopolis expresses somethin...
6    Quickly grows repetitive and tiresome, meander...
7    Cronenberg is not a director to be daunted by ...
8    Cronenberg's cold, exacting precision and emot...
9    Over and above its topical urgency or the bit ...
Name: review, dtype: object

# Merging Box Office Mojo (BOM) dataset with The Movie Database (TMDb) and The Numbers (TN)

In [343]:
# Standardize Titles and Years
def create_merge_key(df, title_col, year_col):
    return df[title_col].str.lower().str.strip() + '_' + df[year_col].astype(str)

In [345]:
print("bom_df columns:", bom_df.columns)
print("tmdb_df columns:", tmdb_df.columns)
print("tn_df columns:", tn_df.columns)

bom_df columns: Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year',
       'merge_key'],
      dtype='object')
tmdb_df columns: Index(['unnamed:_0', 'unnamed:_0', 'genre_ids', 'id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'release_year'],
      dtype='object')
tn_df columns: Index(['Unnamed: 0', 'id', 'release_date', 'movie', 'production_budget',
       'domestic_gross', 'worldwide_gross'],
      dtype='object')

In [ ]:
# for tmdb we already have 'release_year'

tmdb_df['year'] = tmdb_df['release_year']

In [ ]:
# For tn.df Extract year from 'release_date':
tn_df['year'] = pd.to_datetime(tn_df['release_date'], errors='coerce').dt.year

In [348]:
# apply merge_key to all
def create_merge_key(df, title_col, year_col):
    return df[title_col].str.lower().str.strip() + '_' + df[year_col].astype(str)

bom_df['merge_key'] = create_merge_key(bom_df, 'title', 'year')
tmdb_df['merge_key'] = create_merge_key(tmdb_df, 'title', 'year')
tn_df['merge_key'] = create_merge_key(tn_df, 'movie', 'year')

In [349]:
merged_df = bom_df.merge(tmdb_df, on='merge_key', how='left')
merged_df = merged_df.merge(tn_df, on='merge_key', how='left')
print(merged_df.shape)
merged_df.head()

(3387, 27)

,title_x,studio,domestic_gross_x,foreign_gross,year_x,merge_key,unnamed:_0,unnamed:_0,genre_ids,id_x,...,release_year,year_y,Unnamed: 0,id_y,release_date_y,movie,production_budget,domestic_gross_y,worldwide_gross,year
0,toy story 3,BV,415000000.0,652000000,2010,toy story 3_2010,NaN,NaN,NaN,NaN,...,NaN,NaN,46.0,47.0,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522",2010.0
1,alice in wonderland (2010),BV,334200000.0,691300000,2010,alice in wonderland (2010)_2010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,harry potter and the deathly hallows part 1,WB,296000000.0,664300000,2010,harry potter and the deathly hallows part 1_2010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,inception,WB,292600000.0,535700000,2010,inception_2010,NaN,NaN,NaN,NaN,...,NaN,NaN,137.0,38.0,"Jul 16, 2010",Inception,"$160,000,000","$292,576,195","$835,524,642",2010.0
4,shrek forever after,P/DW,238700000.0,513900000,2010,shrek forever after_2010,NaN,NaN,NaN,NaN,...,NaN,NaN,126.0,27.0,"May 21, 2010",Shrek Forever After,"$165,000,000","$238,736,787","$756,244,673",2010.0

# With the above merged data,let us start off to:
## analyze which directors and writers consistently produce successful movies

In [357]:
print(merged_df.columns)

Index(['title_x', 'studio', 'domestic_gross_x', 'foreign_gross', 'year_x',
       'merge_key', 'unnamed:_0', 'unnamed:_0', 'genre_ids', 'id_x',
       'original_language', 'original_title', 'popularity', 'release_date_x',
       'title_y', 'vote_average', 'vote_count', 'release_year', 'year_y',
       'Unnamed: 0', 'id_y', 'release_date_y', 'movie', 'production_budget',
       'domestic_gross_y', 'worldwide_gross', 'year'],
      dtype='object')

In [359]:
merged_df['total_gross'] = (
    merged_df['worldwide_gross'].fillna(0) +
    merged_df['domestic_gross'].fillna(0) +
    merged_df['foreign_gross'].fillna(0)
)

KeyError: 'domestic_gross'

In [356]:
# create total gross column
merged_df['total_gross'] = merged_df['worldwide_gross'].fillna(0) + merged_df['domestic_gross'].fillna(0) + merged_df['foreign_gross'].fillna(0)

KeyError: 'domestic_gross'

In [ ]:
print("bom_df columns:", bom_df.columns)
print("tmdb_df columns:", tmdb_df.columns)
print("tn_df columns:", tn_df.columns)

bom_df columns: Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year',
       'merge_key'],
      dtype='object')
tmdb_df columns: Index(['unnamed:_0', 'unnamed:_0', 'genre_ids', 'id', 'original_language',
       'original_title', 'popularity', 'release_date', 'title', 'vote_average',
       'vote_count', 'release_year'],
      dtype='object')
tn_df columns: Index(['Unnamed: 0', 'id', 'release_date', 'movie', 'production_budget',
       'domestic_gross', 'worldwide_gross'],
      dtype='object')

Objective 1: Which Genres Have the Highest Ratings and Generate the Most Revenue?
using bom and IMDB data set

In [334]:
# clean and merge datasets
master_df = cleaned_bom.merge(cleaned_rt, on='merge_key', how='inner')

In [ ]:
# Total revenue
master_df['total_gross'] = master_df['domestic_gross'] + master_df['foreign_gross']

In [ ]:
# Groupby Genre (Use the genre column from the ratings dataset)
genre_summary = master_df.groupby('genre_y').agg({
    'rating_y': ['mean', 'count'],
    'total_gross': ['sum', 'mean']
}).reset_index()
genre_summary.columns = ['genre', 'avg_rating', 'num_movies', 'total_gross', 'avg_gross']

Objective 2: How Runtime Affects Audience Ratings
 Summary Table
|  |  |  | 
|  |  |  | 
|  |  |  | 
|  |  



 Key Findings
- Sweet spot: Movies between 90 and 120 minutes consistently earn the highest ratings.
- Short films (<90 min) often lack depth or production value, leading to lower scores.
- Long films (>120 min) may suffer from pacing issues or audience fatigue.

 Strategic Recommendation
For most genres, aim for a runtime between 90 and 120 minutes to maximize audience engagement and critical reception. Exceptions may apply for epic dramas or documentaries, but this range is your safest bet.

Would you like to:
- See a chart comparing runtime bins and ratings?
- Move on to Insight #3: Top-performing directors and writers?
Lets keep building your studio strategy.